/* ==================== GLOBAL STYLES ==================== */
body {
    background-color: rgb(255, 225, 230);
    color: #000000;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    min-height: 100vh;
    position: relative;
}
/* LINKS */
a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
/* NAVIGATION HEADER SECTION */
.nav-header {
    display: flex;
    background-color: #aafaff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #88ced3;
    flex-wrap: wrap;
}
@media (min-width: 480px) {
    .nav-header {
        flex-wrap: nowrap;
    }
}
.nav-container.left {
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 50%;
    margin: 10px;
}
.AF-home-link {
    margin: 5px;
}
.nav-link-list {
    display: none;
    margin: 10px;
    padding: 0;
    list-style-type: none;
}
@media (min-width: 480px) {
    .nav-link-list {
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 480px){
    .nav-menu-link a:hover, .nav-menu-link.active {
        color: #000000;
        border-bottom: 2px solid #000000;
        padding-bottom: 5px;
    }
}
.open {
    display: block;
    text-align: center;
}
.menu-block {
    width: 100%;
}
.nav-menu-link {
    margin: 10px;
    cursor: pointer;
}
/* MOBILE HAMBURGER MENU */
.nav-hamburger-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}
@media (min-width: 480px) {
    .nav-hamburger-container {
        display: none;
    }
}
.nav-hamburger {
    width: 30px;
    height: 4px;
    background-color: #000000;
    margin: 3px 0px;
    transition: 0.5s;
}
/* HAMBURGER ANIMATION ON CLICK */
.move.bar1 {
    transform: rotate(-45deg) translate(-5px, 9px);
}
.move.bar2 {
    opacity: 0;
}
.move.bar3 {
    transform: rotate(45deg) translate(-5px, -9px);
}
/* MAIN */
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
    max-width: 900px;
    margin: 0px 20px auto 20px;
}
@media (min-width: 480px){
    .main-section {
        margin: 0 auto;
    }
}
/* SECTION */
section {
    padding-bottom: 20px;
}
/* ABOUT/CONTACT */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 480px) {
    .content-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}
.content-box {
    margin: 10px;
    padding: 10px;
    border: 2px dashed black;
}
@media (min-width: 480px) {
    .content-box {
        height: 100%;
        width: 440px;
    }
}
.content-text {
    padding: 10px;
    margin: 0;
    list-style-type: none;
}
/* FOOTER */
footer {
    background-color: #aafaff;
    text-align: center;
    width: 100%;
    border-top: 1px solid #88ced3;
    bottom: 0;
    position: absolute;
}
.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.icon-img {
    margin: 10px;
    cursor: pointer;
}
.footer-text {
    font-size: 0.75rem;
    margin: 0;
    padding: 10px;
}
/* ==================== SPECIFIC PAGE CONTENT ==================== */
/* GLOBAL HEADING / HOME PAGE */
.heading-text, .sub-heading {
    text-align: center;
}
.sub-heading {
    margin: 5px 0px;
}
.home-img {
    border-radius: 5%;
    width: 90%;
    margin: 40px 10px;
}
@media (min-width: 480px){
    .home-img {
        width: auto;
    }
}
/* ABOUT PAGE */
.img-box {
    margin: 10px;
    border-radius: 5%;
}
/* RESUME PAGE */
.resume-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
@media (min-width: 480px){
    .resume-container {
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
    }
}
.resume-box {
    padding: 20px;
    border: 2px dashed black;
}
.resume-box.left {
    margin: 0px 10px;
}
.resume-box.small {
    margin: 0px 10px 20px 10px;
}
.resume-box-title, .job-title, .job-info {
    margin-top: 0px;
}
.job-title, .job-info {
    margin-bottom: 0px;
}
.job-title {
    font-weight: 700;
}
.job-info {
    font-style: italic;
}
.job-info, .skills-list {
    font-size: 14px;
}
/* PROJECT PAGE */
.grid-container {
    display: grid;
    gap: 20px;
    margin: 0;
    padding-bottom: 40px;
}
@media (min-width: 480px){
    .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}
.grid-box, .grid-img {
    overflow: hidden;
}
.grid-box {
    position: relative;
}
.grid-img {
    width: 400px;
    height: 300px;
    border-radius: 5%;
}
@media (min-width: 480px){
    .grid-box:hover .grid-img {
    filter: blur(6px);
    }
}
.grid-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 5%;
    padding: 20px;
    width: 250px;
    height: 150px;
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media(min-width: 480px){
    .grid-modal {
        display: none;
    }
}
.grid-modal h3, p {
    margin: 5px;
}
.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 5%;
    padding: 20px;
    width: 250px;
    height: 150px;
    font-size: 0.8rem;
}
.buttons-container {
    display: inline;
    margin: 10px 0px;
}
.button-link {
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 2px 20px;
    margin: 0px 5px;
}
.button-link:hover {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
/* CONTACT PAGE */
span {
    font-weight: 700;
}
.contact-link {
    font-style: italic;
    padding-bottom: 15px;
}
.contact-link:hover {
    background-color: #ffffff;
    padding: 0px 5px;
}