body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}
@media (min-width: 480px) {
    body {
        background-color: rgb(255, 225, 230);
    }
}

/* LINKS */
a {
    color: #000000;
    text-decoration: none;
}
/* FLEXBOX */
.nav-header,
.nav-hamburger-container,
.main-section,
.icons-container {
    display: flex;
}

/* NAVIGATION HEADER SECTION */
.nav-header {
    /* phone styling here */
    background-color: #aafaff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #88ced3;
    z-index: 1;
    flex-wrap: wrap;
}
@media (min-width: 480px) {
    .nav-header {
        flex-wrap: nowrap;
    }
}
.nav-container.left {
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 50%;
    margin: 10px;
}
.AF-home-link {
    margin: 5px;
}
.nav-link-list {
    display: none;
    margin: 10px;
    list-style-type: none;
}
.open {
    display: block;
}
.menu-block {
    width: 100%;
}
@media (min-width: 480px) {
    .nav-link-list {
        display: flex;
        justify-content: center;
    }
}
.nav-menu-link {
    margin: 10px;
    cursor: pointer;
}
/* MOBILE HAMBURGER MENU */
.nav-hamburger-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}
@media (min-width: 480px) {
    .nav-hamburger-container {
        display: none;
    }
}
.nav-hamburger {
    width: 30px;
    height: 4px;
    background-color: #000000;
    margin: 3px 0px;
    transition: 0.5s;
}

/* HAMBURGER ANIMATION ON CLICK */
.move.bar1 {
    transform: rotate(-45deg) translate(-5px, 9px);
}
.move.bar2 {
    opacity: 0;
}
.move.bar3 {
    transform: rotate(45deg) translate(-5px, -9px);
}
/* PAGE SECTION */
.main-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* FOOTER */
footer {
    background-color: #aafaff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #88ced3;
}
.icons-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.icon-img {
    margin: 10px;
    cursor: pointer;
}
.footer-text {
    font-size: 0.75rem;
}