body {
    background-color: rgb(170, 250, 255);
    color: white;
    margin: 0;
}
/* LINKS */
a {
    color: white;
    text-decoration: none;
}
/* FLEXBOX */
.nav-header,
.nav-link-list,
.home-section,
.icons-container {
    display: flex;
}

/* NAVIGATION HEADER SECTION */
.nav-header {
    background-color: rgb(120, 220, 230);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.nav-container.left {
    cursor: pointer;
}
.nav-link-list {
    justify-content: center;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}
.nav-menu-link {
    margin: 10px;
    cursor: pointer;
}
.AF-home-link {
    margin: 10px;
}
/* this was for the original hamburger nav */
/* .nav-header {
    z-index: 1;
}
.nav-control {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.nav-menu-control {
    margin: 25px;
} 
.menu-aside {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 30px;
    transition: 0.5s ease-in-out;
    transform: translateX(100%);
    z-index: 2;
}
.menu-aside-open {
    transform: translateX(0%);
    opacity: 1;
}
.menu-link {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin: 10px auto;
}
*/

/* PAGE SECTION */
.home-section, 
.about-section, 
.project-section,
.contact-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* FOOTER */
footer {
    background-color: rgb(120, 220, 230);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgb(230, 230, 230);
}
.icons-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.icon-img {
    margin: 10px;
    cursor: pointer;
}
